@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  overflow: hidden;
  background-image: url(https://img.freepik.com/free-vector/cute-small-love-heart-pattern-backdrop-wrapping-paper-print_1017-49855.jpg);
  background-repeat: repeat; /* Makes it scroll vertically */
  background-size: auto; /* Adjust to fit screen */
  animation: scrollBackground 15s linear infinite; /* Adjust duration for speed */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(189, 11, 77);
  z-index: 100;
  visibility: visible; /* Ensure it's visible initially */
  animation: loading 1s linear forwards;
  animation-delay: 5s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scrollBackground {
  from {
    background-position: 0 100vh;
  }
  to {
    background-position: 0 0;
  }
}

.letter {
  background-color: rgba(255, 255, 255, 0.834);
  height: 100%;
  max-width: 100%;
  position: absolute;
  transform: translateY(100dvh);
  transition: transform 1s ease; /* Smooth transition */
  filter: drop-shadow(1px 0px 32px #000000);
}

.pull {
  width: 60px;
  height: 100px;
  background-image: url(../img/rubban.png);
  position: absolute;
  bottom: 100%; /* Position above the .letter */
  left: 50%; /* Position it at the center horizontally */
  transform: translateX(-50%); /* Offset by half its width to truly center */
}

.title {
  font-family: "Bebas Neue", serif;
  text-align: center;
  position: absolute;
  top: 50%; /* Position the top at 50% of the parent */
  left: 50%; /* Position the left at 50% of the parent */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the element by its own width/height */
  line-height: 5.5em;
  padding: 2em;
}

.undertitle {
  color: white;
  font-size: 1.6rem;
  background-color: rgba(255, 0, 89, 0.669);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  line-height: 1.2em;
  z-index: 2;
}

.neon {
  --neon-color: rgb(255, 0, 89);
  font-family: "Bebas Neue", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.15em;

  text-shadow: 0 0 5px var(--neon-color), 0 0 10px var(--neon-color),
    0 0 20px var(--neon-color), 0 0 40px var(--neon-color),
    0 0 80px var(--neon-color), 0 0 90px var(--neon-color),
    0 0 100px var(--neon-color);

  transform: translate(1px, 1px); /* Slight offset to reduce pixelation */
  -webkit-font-smoothing: antialiased;
}

.heart {
  position: fixed;
  /* top: 50%;
  left: 50%; */
  width: 100px; /* Set a fixed width */
  height: auto; /* Maintain aspect ratio */
  /* transform: translate(-50%, -50%) scale(15); */
  z-index: 100;
  /* max-width: 100vw;
  max-height: 100vh; */
  pointer-events: none; /* Prevent interaction issues */

  animation: loading 4s linear forwards;
}
